{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Alumnos</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5">Ingrese a su proceso de graduación</p>
{%endblock subtitulo %}

{%block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Código</th>
            <th>Maestría</th>
        </tr>
    </thead>
    <tbody>
    {% for c in alumno %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.codigo }}</td>
            <td>{{ c.maestria }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>  
{%endblock contenido %}