{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Formulario Trabajo de grado</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5">En su rol de Asistente, registre los datos sobre el trabajo de grado del alumno de su programa.</p>
{%endblock subtitulo %}

{%block contenido %}

<form action ="" method="post">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type ="submit" value="Guardar">
</form>
   
{%endblock contenido %}